* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background: url(https://i.stack.imgur.com/Mv83H.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  color: rgb(255,235,0);
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.logo {
  max-width: 200px;
}

.quizLogo {
  text-align: center;
  margin: 20px;
}

h1 {
  font-size: 35px;
  font-weight: bold;
}

.questionScore {
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}

ul {
  list-style: none;
  padding: 0;
}

main {
  display: block;
  margin: 15px;
  border: solid 1px black;
  border-radius: 10px;
  background: rgb(211,211,211, 0.7);
  padding: 35px;
}

.quizStart {
  text-align: center;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
}

button {
  font-size: 20px;
  margin: 40px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255,235,0);
  border: solid 2px black;
  border-radius: 5px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

button:hover {
  background-color: rgb(207, 190, 0);
}

.questionAnswerForm {
  text-align: center;
}

.questionTitle {
  font-size: 20px;
  font-weight: bold;
}

fieldset {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.answerOption {
  padding: 5px;
  font-size: 20px;
}

p {
  margin: 15px;
  font-size: 20px;
}

.icon {
  max-width: 150px;
  display: block;
  margin: auto;
}

@media screen and (min-width: 630px) {
  main {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
  }

  .questionScore {
    float: left;
    margin: 0;
    padding: 20px;
    font-size: 30px;
  }

  .icon {
    max-width: 350px;
  }
}

@media screen and (max-width: 250px) {
  .logo {
    max-width: 100px;
  }

  .icon {
    display: none;
  }
}