* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.quizLogo {
  text-align: center;
  margin: 20px;
}

h1 {
  font-size: 35px;
  font-weight: bold;
}

.questionScore {
  text-align: center;
  font-size: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

main {
  display: block;
  margin: 15px;
  border: solid 1px black;
  border-radius: 10px;
  background-color: lightgray;
  padding: 35px;
}

.quizStart {
  text-align: center;
}

h2 {
  font-size: 25px;
  font-weight: bold;
}

.startButton {
  font-size: 20px;
  margin: 40px;
  padding: 10px;
  background-color: darkgray;
}

.questionAnswerForm {
  text-align: center;
}

.questionTitle {
  font-size: 20px;
  font-weight: bold;
}

fieldset {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.answerOption {
  padding: 5px;
  font-size: 20px;
}

.submitButton {
  font-size: 20px;
  margin: 40px;
  padding: 10px;
  background-color: darkgray;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin: 15px;
  font-size: 20px;
}

.nextButton {
  font-size: 20px;
  margin: 40px;
  padding: 10px;
  background-color: darkgray;
}